.modalContainer {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: var(--z-index-modal);
    max-width: 500px;
    width: 100%;
    height: 290px;
    background: var(--white);
    border-radius: 5px;
    padding: 18px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    outline: 1px solid var(--black);
}


.buttonsContainer .secondaryButton {
    background: var(--white);
    color: var(--blue-genie);
    outline: 1px solid var(--blue-genie);
}

.buttonsContainer .primaryButton {
    background: var(--blue-genie);
    color: var(--white);
}

.buttonsContainer {
    display: flex;
    justify-content: space-between;
}

.title {
    text-align: center;
    color: var(--black);
}
